extends layout

block content
  body.body-signin

    .container
      .row
        .col-md-4.col-md-offset-4.message-container
          !=messages()

      .row(style="margin-top:40px;")
        .col-md-4.col-md-offset-4
          form#loginForm.form-signin(action="/login", method="post")
            center
              h3.form-signin-heading Please log in
            input.form-control.mb05(type='text', placeholder='E-mail', autofocus='', name='user[email]', required)
            input.form-control(type='password', placeholder='Password', name='user[password]', required)
            button.btn.btn-lg.btn-primary.btn-block(type='submit') Login

      .row
        .col-md-4.col-md-offset-4
          center
            a.btn.btn-default(href="/signup")
              i.fa.fa-pencil.mr05
              span Create New Account