.row.mt10
  .col-md-2
    .user-image-container
      img.user-image(src='/public/images/blank_face.jpeg')
  .col-md-10
    h1(style='margin-top:0')=selectedUser.name
    h4=selectedUser.info
    span(style='color:#999')=selectedUser.city + ', ' + selectedUser.country