extends ../layout

block head
  title Welcome to mwitter

block breadcrumb
  ol.breadcrumb
    li.active Recent Messages

block content
  .row.mt10
    .col-md-12
      h1(style='margin-top:0') Recent Messages

      .mwit-list

        include messages

        .load-more

        .row.mtb10
          .col-md-12
            center
              - var pageCount = (pageCount || 0) + 1;
              - var recentPage = '/load/recent/' + pageCount;
              a#load-more(href='#', data-load=recentPage) Load more