extends ../layout

block head
  title=selectedUser ? selectedUser.name : ''

block breadcrumb
  ol.breadcrumb
    - if (selectedUser)
      li=selectedUser.name
    li.active Messages

block content
  - if (selectedUser)
    include bio
    br

    .mwit-list

      include messages

      .load-more

      .row.mtb10
        .col-md-12
          center
            - var pageCount = (pageCount || 0) + 1;
            - var userPage = '/load/' + selectedUser.fullName + '/' + pageCount;
            a#load-more(href='#', data-load=userPage) Load more