doctype html(lang="tr")
head
  block head
    include common/meta

  block style
    include common/style

  block script
    include common/script
    script.
      $(function() {
        $('.mwit-message').each(function() {
          var message = $(this).text();
          var newMessage = message.replace('\r\n', ' ').replace('\t', ' ').replace('\n', ' ');

          var links = newMessage.match(/((https?|ftp)\:\/\/[a-z0-9-.]*\.[a-z]{1,4}\/?\S+)/g);
          if (links && links.length > 1) {
            for (var i in links) {
              links[i] = links[i].replace(' ', '');
              var urlLink = ' <a target="_blank" href="' + links[i] + '">' + links[i] + '</a>';
              var existingLinkCheck = i > 0 ? ' ' : '';
              newMessage = newMessage.replace(existingLinkCheck + links[i], urlLink);
            };
          } else if (links && links.length == 1) {
            links[0] = links[0].replace(' ', '');
            var urlLink = ' <a target="_blank" href="' + links[0] + '">' + links[0] + '</a>';
            newMessage = newMessage.replace(links[0], urlLink);
          }

          var hashtags = newMessage.match(/(?!\s+)(#\S+)/g);
          if (hashtags && hashtags.length > 1) {
            for (var i in hashtags) {
              var hashtag = hashtags[i].substr(1);
              var hashtagLink = '<a href="/hashtag/' + hashtag + '">' + hashtags[i] + '</a>';
              newMessage = newMessage.replace(hashtags[i], hashtagLink);
            }
          } else if (hashtags && hashtags.length == 1) {
            var hashtag = hashtags[0].substr(1);
            var hashtagLink = '<a href="/hashtag/' + hashtag + '">' + hashtags[0] + '</a>';
            newMessage = newMessage.replace(hashtags[0], hashtagLink);
          }

          $(this).html(newMessage);
        });

        $('#load-more').click(function() {
          var requestAddress = $(this).attr('data-load');
          $.ajax({
            url:requestAddress,
            success: function(data, textStatus, jqXHR) {
              if (textStatus == 'success' && data) {
                $('.load-more').prepend($(data));
              }
            },
            error: function(jqXHR, textStatus, errorThrown) {
              console.error(errorThrown)
            }
          });
        });
      });


body
  include common/navbar

  .container
    .row
      .col-md-12
        div(style="position:relative")
          .message-container
            .message-content
              !=messages()
        block breadcrumb

    block content