.navbar.navbar-default.navbar-static-top(role="navigation")
  .container
    .navbar-header
      button.navbar-toggle(type="button", data-toggle="collapse", data-target="#site-navbar-collapse")
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand(href='/')=title
    #site-navbar-collapse.navbar-collapse.collapse

      ul.nav.navbar-nav.navbar-right
        - if (user && user.name)
          li.dropdown
            a.dropdown-toggle(href="#", data-toggle="dropdown")
              =user.name
              b.caret
            ul.dropdown-menu
              li
                a(href="/user")
                  i.icon-user.mr05 User Settings
              li
                a(href='/logout')
                  i.icon-signout.mr05 Log out
        - else
          li
            a(href='/signup')
              i.iconf-pencil.mr05 Signup
          li
            a(href='/login')
              i.icon-signin.mr05 Log in