html, body, body > div{
  margin: 0;
  padding: 0;
  height: 100%;
}

/*Landing Page
*/

.landing-container{
  margin: 0;
  padding: 0;
}

.full-height{
  height: 100%;
}
.flex-center{
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-item{
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

.flex-vertical-space-between{
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: space-between;
}