html, body, body > div{
  margin: 0;
  padding: 0;
  height: 100%;
}

/*Landing Page
*/

.landing-container{
  margin: 0;
  padding: 0;
  text-align: center;
}

.landing-container .row:not(:first-child) {
  padding-top: 70px;
}

.landing-container .nav li a, .landing-container .nav-justified li a{
  text-align: left;
}
/*Search Page
*/

.list-container{
  overflow-x: hidden;
  overflow-y: auto;
}

/*Login Page
*/

.login-container .row:nth-child(2){
  height: 300px;
}

.login-container .row:nth-child(2) form{
  padding-top: 30px;
}

.full-height{
  height: 100%;
}

.img-responsive{
  max-height: 100%;
}