<div class="jumbotron landing-container full-height">
  <div class="container full-height flex-vertical-space-between">

    <div class="col-sm-12 flex-item">

    </div>


    <form class="col-lg-6 col-sm-12" ng-submit="doSearch(filterObject);">
      <input type="text" ng-model="filterObject" class="form-control" placeholder="Search Products"/>
    </form>

    <div class="col-lg-6 col-sm-12">
      <p class="flex-center">
        Care to contribute?
      </p>
      <div class="row">
        <div class="col-lg-6 flex-center">
          <a href="#">Login</a>
        </div>
        <div class="col-lg-6 flex-center">
          <a href="#">Sign Up</a>
        </div>
      </div>
    </div>

    <div class="col-lg-6 col-sm-12">
      <div class="row">
        <div class="col-lg-4">
          <ul>
            <li>
              <a href="#">About Local Leaf</a>
              <a href="#">Contact</a>
              <a href="#">Api</a>
            </li>
          </ul>
        </div>
        <div class="col-lg-4">

        </div>
        <div class="col-lg-4">
          <p>@ 2014 Team Leaf</p>
        </div>
      </div>
    </div>

  </div>
</div>