<div class="row product">
  <div class="well">
    <h3>{{record.name}}</h3>
    <div class="row">
      <div class="col-lg-3">
        Company
      </div>
      <div class="col-lg-9">
        <p>{{record.company}}</p>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-12">
        Description
      </div>
      <div class="col-lg-12">
        <p>{{record.description}}</p>
      </div>
    </div>
  </div>
    <!--
    <div class="row">
      <div class="progress">
        <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
          <span class="sr-only">60% Complete</span>
        </div>
      </div>
    </div>
    -->
</div>