<div class="row">

  <div class="row">
    <div class="col-sm-8">
      <div class="row">
        <h3>{{record.title}}</h3>
        <span>{{record.description}}</span>
        <span>{{record.brand}}</span>
      </div>
    </div>
    <div class="col-sm-4">
      Graph
    </div>
  </div>

  <div class="row">
    <div class="progress">
      <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
        <span class="sr-only">60% Complete</span>
      </div>
    </div>
  </div>
</div>