<div class="search-container container-fluid">

  <div class="row">
    <div class="col-lg-4">
      <div class="row">
        <div class="col-lg-2 col-xs-4 col-xs-offset-4 col-lg-offset-5">
          <img class="img-responsive" src="img/logo_localleaf.png">
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="row">
        <div class="col-sm-12 flex-center">
          <span>Cate to contribute?</span>
        </div>
        <div class="col-sm-6 flex-center">
          <a href="/#/login">Login</a>
        </div>
        <div class="col-sm-6 flex-center">
          <a href="/#/signup">Signup</a>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <input type="text" class="form-control" ng-model="filterObject" placeholder="Search {{type}}"/>
    </div>
  </div>

  <div class="col-xs-12 list-container">
    <div ng-repeat="record in records track by $index" product="record"></div>
  </div>
</div>