.navbar.navbar-default.navbar-static-top(role="navigation")
  .container
    .navbar-header
      button.navbar-toggle(type="button", data-toggle="collapse", data-target="#site-navbar-collapse")
        span.sr-only Toggle navigation
      a.navbar-brand(href='/') mwitter
    #site-navbar-collapse.navbar-collapse.collapse

      ul.nav.navbar-nav.navbar-right
        - if (user && user.name)
          li.dropdown
            a.dropdown-toggle(href="#", data-toggle="dropdown")
              =user.name
              b.caret
            ul.dropdown-menu
              li
                - var userPath = '/' + user.fullName;
                a(href=userPath)
                  i.fa.fa-user.mr05
                  span My Messages
              li
                a(href='/message')
                  i.fa.fa-pencil.mr05
                  span New Message
              li
                a(href='/logout')
                  i.fa.fa-sign-out.mr05
                  span Log out
        - else
          li
            a(href='/signup')
              i.fa.fa-pencil.mr05
              span Signup
          li
            a(href='/login')
              i.fa.fa-sign-in.mr05
              span Log in