link(type="text/css", href="/public/components/bootstrap/dist/css/bootstrap.min.css", rel="stylesheet")
link(type="text/css", href="/public/components/fontawesome/css/font-awesome.min.css", rel="stylesheet")
link(type="text/css", href="/public/style/main.css", rel="stylesheet")